.header-light {
    -fx-text-fill: #40464E;
    -fx-font-size: 40pt;
}

.header-dark {
    -fx-text-fill: #F7F7F7;
    -fx-font-size: 40pt;
}

.subheader-light {
    -fx-text-fill: #40464E;
    -fx-font-size: 20pt;
}

.subheader-dark {
    -fx-text-fill: #F7F7F7;
    -fx-font-size: 20pt;
}

.card {
    -fx-padding: 3em 8em 3em 8em;
    -fx-background-color: #D8D8D8;
    -fx-border-radius: .3em;
    -fx-background-radius: .3em;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 15, 0, 3, 8);
}

.input {
    -fx-min-height: 2.2em;
    -fx-min-width: 10em;
    -fx-background-color: #F2F2F2;
    -fx-border-color: #979797;
    -fx-border-radius: .2em;
    -fx-border-width: .04em;
}

.input-label {
    -fx-text-fill: #40464E;
    -fx-font-size: 11pt;
}

.btn-confirm {
    -fx-background-color: #A7E6AE;
    -fx-min-height: 2.2em;
    -fx-min-width: 4.5em;
    -fx-border-color: #979797;
    -fx-border-radius: .2em;
    -fx-border-width: .04em;
    -fx-text-fill: #40464E;
    -fx-font-size: 10pt;
}

.btn-min {
    -fx-background-color: transparent;
    -fx-fill: #40464E;
    -fx-font-size: 14pt;
}

.btn-min:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.btn-min:pressed {
    -fx-scale-x: .95;
    -fx-scale-y: .95;
    -fx-scale-z: .95;
}

.btn-floating {
    -fx-background-color: #F0F0F0;
    -fx-border-width: 0.08em;
    -fx-border-color: #979797;
    -fx-border-radius: 5em;
    -fx-background-radius: 5em;
    -fx-padding: .8em;
    -fx-border-insets: 1.8em;
    -fx-background-insets: 1.8em;
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.5) , 10, 0, 3, 6);
}

.btn-floating:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.5) , 12, 0, 4, 7);
}

.btn-floating:pressed {
    -fx-scale-x: .95;
    -fx-scale-y: .95;
    -fx-scale-z: .95;
    -fx-effect: none;
}

.btn-floating > .icon {
    -fx-padding: none;
}