.header-light {
    -fx-text-fill: #40464E;
    -fx-font-size: 40pt;
}

.header-dark {
    -fx-text-fill: #F7F7F7;
    -fx-font-size: 40pt;
}

.subheader-light {
    -fx-text-fill: #40464E;
    -fx-font-size: 20pt;
}

.subheader-dark {
    -fx-text-fill: #F7F7F7;
    -fx-font-size: 20pt;
}

.smallheader-light {
    -fx-text-fill: #40464E;
    -fx-font-size: 14pt;
}

.smallheader-dark {
    -fx-text-fill: #F7F7F7;
    -fx-font-size: 14pt;
}

.body-light {
    -fx-text-fill: #40464E;
    -fx-font-size: 10pt;
}

.body-dark {
    -fx-text-fill: #F7F7F7;
    -fx-font-size: 10pt;
}

.card {
    -fx-padding: 3em 8em 3em 8em;
    -fx-background-color: #D8D8D8;
    -fx-border-radius: .3em;
    -fx-background-radius: .3em;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 15, 0, 3, 8);
}

.input {
    -fx-min-height: 2.2em;
    -fx-min-width: 10em;
    -fx-background-color: #F2F2F2;
    -fx-border-color: #979797;
    -fx-border-radius: .2em;
    -fx-border-width: .04em;
}

.input-label {
    -fx-text-fill: #40464E;
    -fx-font-size: 11pt;
}

.input-container {
    -fx-spacing: .5em;
}

.btn-confirm {
    -fx-background-color: #A7E6AE;
    -fx-min-height: 2.2em;
    -fx-min-width: 4.5em;
    -fx-border-color: #979797;
    -fx-border-radius: .2em;
    -fx-border-width: .04em;
    -fx-text-fill: #40464E;
    -fx-font-size: 12pt;
}

.btn-confirm:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.btn-confirm:pressed {
    -fx-scale-x: .95;
    -fx-scale-y: .95;
    -fx-scale-z: .95;
}


.btn-neutral {
    -fx-background-color: #F2F2F2;
    -fx-min-height: 2.2em;
    -fx-min-width: 4.5em;
    -fx-border-color: #979797;
    -fx-border-radius: .2em;
    -fx-border-width: .04em;
    -fx-text-fill: #40464E;
    -fx-font-size: 12pt;
}

.btn-neutral:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.btn-neutral:pressed {
    -fx-scale-x: .95;
    -fx-scale-y: .95;
    -fx-scale-z: .95;
}

.btn-danger {
    -fx-background-color: #E6A7A7;
    -fx-min-height: 2.2em;
    -fx-min-width: 4.5em;
    -fx-border-color: #979797;
    -fx-border-radius: .2em;
    -fx-border-width: .04em;
    -fx-text-fill: #40464E;
    -fx-font-size: 12pt;
}

.btn-danger:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.btn-danger:pressed {
    -fx-scale-x: .95;
    -fx-scale-y: .95;
    -fx-scale-z: .95;
}

.btn-min {
    -fx-background-color: transparent;
    -fx-fill: #40464E;
    -fx-font-size: 14pt;
}

.btn-min:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.btn-min:pressed {
    -fx-scale-x: .95;
    -fx-scale-y: .95;
    -fx-scale-z: .95;
}

.btn-floating {
    -fx-background-color: #F0F0F0;
    -fx-border-width: 0.08em;
    -fx-border-color: #979797;
    -fx-border-radius: 5em;
    -fx-background-radius: 5em;
    -fx-padding: .8em;
    -fx-border-insets: 1.8em;
    -fx-background-insets: 1.8em;
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.5) , 10, 0, 3, 6);
}

.btn-floating:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.5) , 12, 0, 4, 7);
}

.btn-floating:pressed {
    -fx-scale-x: .95;
    -fx-scale-y: .95;
    -fx-scale-z: .95;
    -fx-effect: none;
}

.btn-floating > .icon {
    -fx-padding: none;
}

.modal-container {
    -fx-background-color: #D8D8D8;
    -fx-border-radius: .5em;
    -fx-background-radius: .5em;
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.5), 20, 0, 4, 7);
    -fx-padding: 5em;
    -fx-background-insets: 5em;
}

.drop-down {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-max-width: 2em;
    -fx-min-width: 2em;
    -fx-pref-width: 2em;
}

.drop-down > .arrow-button {
    -fx-padding: 0;
}

.drop-down > .arrow-button > .arrow {
    -fx-padding: 0;
}

.drop-down-item {
    -fx-fill: #40464E;
}

.drop-down-item:focused {
    -fx-background-color: #40464E;
}

.btn-square {
    -fx-background-color: #D8D8D8;
    -fx-border-radius: .2em;
    -fx-background-radius: .2em;
    -fx-border-color: #979797;
    -fx-padding: 0;
}

.btn-square:hover {
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-scale-z: 1.02;
}

.btn-square:pressed {
    -fx-scale-x: .97;
    -fx-scale-y: .97;
    -fx-scale-z: .97;
}


/*scroll bar stuff*/

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black,90.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#4D4C4F,10.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}
